body {
    text-align: center;
}

#colorBox {
    width: 200px;
    height: 200px;
    background-color: gray;
    margin: 20px auto;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}